{
  "presets": [
    [
      "env", {
        "es2015": {
          "modules": false
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "relay",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  }
}
